<html>
  <head>
  </head>
  <body style="color: black;">
    <div style="margin:0 auto;max-width:600px;">
      <h1 style="font-size: 56px;">Hi there <%= name %> <%= username %></h1>
      <p style="font-size: 16px;">Get your token: <%= tokenUrl %></p>
    </div>
  </body>
</html>